$menu-font: 'Titillium Web', sans-serif;
$text-font: 'Source Sans Pro', sans-serif;
$paragraph-font: 'Roboto', sans-serif;
$icon-color: #fff;
$box-color: #777;
$title-font-color: #6d6d6d;
$margin-bottom: 5%;
$icon-size: 2em;

.top-container {
    background-image: url('../img/desktop/header_img.png');
    background-origin: border-box;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 650px;
}

.top-header-row {
    padding-top: 40px;
}

nav {
    padding-top: 40px;
}

.col-nav {
    padding-left: 0;
}

a[class="nav-link"] {
    color: $icon-color;
    font-family: $menu-font;
    font-weight: 500;
    font-size: 12pt;
}

i.icon-top {
    color: $icon-color;
    font-size: $icon-size;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.middle-header-row {
    height: 350px;
}

p.p-trailer {
    font-family: $text-font;
    font-weight: 500;
    font-size: 24pt;
    color: $icon-color;
}

.video {
    border: 10px solid white;
    box-sizing: content-box;
    border-radius: 5px;
    width: 560px;
    height: 315px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 50px; 
}

.middle-article-row {
    margin-bottom: $margin-bottom;
}

h1.h1-sobre {
    text-align: left;
    font-family: $text-font;
    font-weight: 600;
    font-size: 24pt;
    color: $title-font-color;
}

p.p-sobre {
    padding-top: 1em;
    text-align: left;
    font-family: $paragraph-font;
    font-weight: lighter;
    font-size: 12pt;
    color: #707070;
}

.item {
    text-align: center;
    padding: 0.25em;
    color: $icon-color;
    float: right;
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: $box-color;
}

.item i {
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 0.25em;
}

.item p {
    font-family: $text-font;
    font-weight: 500;
    font-size: 14pt;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

img.img-carousel {
    width: 100%;
}

.carousel-row {
    margin-bottom: $margin-bottom;
}

h2.h2-contato {
    color: $title-font-color;
    font-family: $text-font;
    font-weight: bold;
    font-size: 24pt;
    text-align: left;
}

.row-bottom {
    margin-bottom: $margin-bottom;
}

.form-group {
    margin-bottom: 2rem;
}

form.form-contato {
    margin-top: 4em;
}

.g-recaptcha {
    width: 100% !important;
}

img.img-recaptcha {
    margin-bottom: 2rem;
}

.submit {
    margin-bottom: 2rem;
    text-align: right;
}

footer {
    padding-top: 1em;
    padding-bottom: 3em;
    background-color: #3168ff;
    height: 50px;
}

.p-footer {
    font-family: $paragraph-font;
    font-weight: lighter;
    font-size: 14pt;
    color: $icon-color;
}